@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700i|Open+Sans:300,400,600,700');
@import "../libs/variables/variables";
//HELPERS
* {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}
//HELPERS

body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

/*HEADER BLOCK STYLES START*/
.header {
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1170px;
		margin: 0 auto;
		.logo_wrapper {
			.logo {
				display: block;
				font-family: 'Lobster Two', cursive;
				font-size: 43px;
				line-height: 45px;
				text-decoration: none;
				color: $main_color;
			}
		}
		.menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 15px;
			li {
				a {
					display: block;
					padding: 25px 15px;
					color: $links_color;
					text-decoration: none;
					border-bottom: 3px solid transparent;
					transition: all 0.3s ease;
					cursor: pointer;
					&:hover {
						color: $main_color;
						background: $links_hover_bg;
						border-bottom: 3px solid $main_color;
					}
				}
			}
			li.active a {
				color: $main_color;
				background: $links_hover_bg;
				border-bottom: 3px solid $main_color;
			}
		}
	}
	.sticky_block {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 9;
		background: #fff;
	}
}
.header {
	.slider_block {
		margin-bottom: 100px;
		.swiper-container {
			width: 100%;
			height: 565px;
			.btn_slider {
				position: absolute;
				top: 50%;
				z-index: 10;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				text-align: center;
				background: $slider_btn_bg;
				transform: translateY(-50%);
				cursor: pointer;
				opacity: 0.8;
				transition: all 0.3s ease;
				&:hover {
					opacity: 1;
				}
				.fa {
					font-size: 40px;
					line-height: 50px;
					color: $main_color;
				}
			}
			.button-prev {
				left: 30px;
			}
			.button-next {
				right: 30px;
			}
			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				.slider_text {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					color: $white;
					text-align: center;
					padding: 0 20px;
					transform: translate(-50%, -50%);
					.title {
						font-size: 63px;
						line-height: 80px;
						font-weight: 600;
						margin-bottom: 30px;
					}
					.subtitle {
						display: block;
						font-size: 23px;
						line-height: 37px;
						margin-bottom: 60px;
					}
					.btn_learn_more {
						display: inline-block;
						padding: 22px 36px;
						border: 3px solid $white;
						font-size: 26px;
						text-decoration: none;
						color: $white;
						border-radius: 6px;
						transition: all 0.3s ease;
						&:hover {
							color: $white;
							border: 3px solid $main_color;
							background: $main_color;
						}
					}
				}
				img {
					vertical-align: top;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
/*HEADER BLOCK STYLES END*/

/*OUR TEAM BLOCK STYLES START*/
.our_team {
	text-align: center;
	margin-bottom: 100px;
	.our_team_title {
		font-size: 42px;
		line-height: 40px;
		color: $section_title;
		margin-bottom: 130px;
	}
	.our_team_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.our_team_block_item {
			display: flex;
			flex-direction: column;
			max-width: 25%;
			color: $section_title;
			padding: 0 25px;
			-ms-word-break: break-all;
			word-break: break-all;
			.foto {
				width: 200px;
				height: 200px;
				vertical-align: top;
				border-radius: 50%;
				margin: 0 auto;
				margin-bottom: 70px;
				background-size: cover;
				&:hover .fa-plus {
					opacity: 1;
				}
				.fa-plus {
					opacity: 0;
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					font-size: 42px;
					line-height: 200px;
					background: rgba(255,255,255, 0.5);
					color: $plus;
					border-radius: 50%;
					cursor: pointer;
					transition: all 0.3s ease;
				}
			}
			.foto_1 {
				background: url("../img/team/1.jpg") top center;
			}
			.foto_2 {
				background: url("../img/team/2.jpg") top center;
			}
			.foto_3 {
				background: url("../img/team/3.jpg") top center;
			}
			.foto_4 {
				background: url("../img/team/4.jpg") top center;
			}
			.name {
				display: block;
				font-size: 22px;
				margin-bottom: 12px;
			}
			.role {
				display: block;
				margin-bottom: 30px;
			}
		}
	}
}
/*OUR TEAM BLOCK STYLES END*/

/*SERVICES BLOCK STYLES START*/
.services_wrapper {
	padding: 115px 0 100px 0;
	background: $services_block_bg;
	.services {
		display: flex;
		justify-content: space-between;
		.service_card {
			border: 1px solid $card_border;
			width: 33.33%;
			margin-right: 30px;
			-ms-word-break: break-all;
			word-break: break-all;
			.service_card_head {
				background: $card_header_bg;
				color: $white;
				text-align: center;
				padding: 15px 0;
				.title {
					display: inline-block;
					font-size: 26px;
				}
			}
			.service_card_head.active {
				background: $main_color;
			}
			.service_card_content {
				span {
					padding: 12px 0;
					display: block;
					text-align: center;
					border-bottom: 1px solid $services_block_bg;
				}
				.price {
					font-size: 20px;
					background: $card_price_bg;
					color: $card_header_bg;
				}
				.text {
					background: $white;
					color: $card_text;
				}
			}
			.service_card_footer {
				text-align: center;
				padding: 15px 0;
				background: $card_price_bg;
				.btn_buy {
					font-family: 'Open Sans', sans-serif;
					padding: 12px 50px;
					font-size: 17px;
					font-weight: 600;
					background: $card_btn_bg;
					border: 0;
					color: $white;
					border-radius: 3px;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover {
						background: $main_color;
					}
					&:hover .service_card_head {
						background: $main_color;
					}
				}
			}
		}
	}
}
/*SERVICES BLOCK STYLES END*/

/*FOOTER BLOCK STYLES START*/
.contact_us_wrapper {
	background: url("../img/footer_bgl.png") no-repeat;
	background-size: cover;
	padding: 100px 0;
	.footer {
		color: $white;
		.contact_us_title {
			text-align: center;
			font-size: 42px;
			line-height: 36px;
			margin-bottom: 115px;
		}
		.footer_content {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
}
.footer {
	.info_block {
		margin-right: 170px;
		.info_block_title {
			display: block;
			font-size: 24px;
			margin-bottom: 15px;
		}
		.info_block_descr {
			display: block;
			opacity: 0.5;
			margin-bottom: 40px;
		}
		.social_block {
			margin-bottom: 20px;
			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				text-align: center;
				margin-right: 15px;
				.fa {
					width: 100%;
					height: 100%;
					line-height: 30px;
					font-size: 18px;
					color: $white;
					background: $white;
					border-radius: 50%;
					transition: all 0.3s ease;
					cursor: pointer;
					&:hover {
						opacity: 0.5;
					}
				}
				.fa-facebook {
					background: $facebook;
				}
				.fa-twitter {
					background: $twitter;
				}
				.fa-google-plus {
					background: $google;
				}
			}
		}
		.company_info {
			.company_info_text {
				display: block;
				color: $company_info_text;
			}
		}
	}
}
.footer {
	.contact_us_form {
		::-webkit-input-placeholder {
			color: $placeholder_text;
		}
		::-moz-placeholder {
			color: $placeholder_text;
		}
		:-ms-input-placeholder {
			color: $placeholder_text;
		}
		:-moz-placeholder {
			color: $placeholder_text;
		}
		form {
			text-align: right;
			.flex_box {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 30px;
				.input_wrapper {
					position: relative;
					margin-right: 30px;
					&:last-child {
						margin-right: 0;
					}
					label {
						position: absolute;
						top: 105%;
						left: 0;
						text-align: left;
						font-size: 12px;
						line-height: 13px;
						color: $error_message;
					}
					.custom_input {
						font-family: 'Open Sans', sans-serif;
						height: 44px;
						background: $white;
						border-radius: 3px;
						padding: 0 20px;
						font-size: 16px;
					}
				}
			}
			.textarea_wrapper {
				position: relative;
				.custom_textarea {
					font-family: 'Open Sans', sans-serif;
					width: 100%;
					max-height: 180px;
					min-height: 180px;
					background: $white;
					border-radius: 3px;
					font-size: 16px;
					padding: 20px;
					overflow: hidden;
					resize: none;
					margin-bottom: 30px;
				}
				label {
					position: absolute;
					bottom: 20px;
					left: 0;
					text-align: left;
					font-size: 12px;
					line-height: 13px;
					color: $error_message;
				}
			}
			.btn_send {
				font-family: 'Open Sans', sans-serif;
				display: inline-block;
				padding: 10px 60px;
				border: 3px solid $main_color;
				border-radius: 3px;
				font-size: 22px;
				color: $white;
				background: $main_color;
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover {
					background: transparent;
				}
			}
		}
	}
}
/*FOOTER BLOCK STYLES END*/


