@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400i|Open+Sans:300,400,600,700");
/*COLORS*/
/*COLORS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1070px;
  margin: 0 auto; }

.header {
  padding: 0 10px; }
  .header .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .head .logo_wrapper .logo {
      display: block;
      font-family: 'Lobster Two', cursive;
      font-size: 43px;
      line-height: 45px;
      text-decoration: none;
      color: #44c0c2; }
    .header .head .menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 15px; }
      .header .head .menu ul li a {
        display: block;
        padding: 25px 15px;
        color: #484c55;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header .head .menu ul li a:hover {
          color: #44c0c2;
          background: #f8f9fb;
          border-bottom: 3px solid #44c0c2; }
      .header .head .menu ul li a.active {
        color: #44c0c2;
        background: #f8f9fb;
        border-bottom: 3px solid #44c0c2; }
